<!doctype html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <style>
    body {
      background: #fafafa;
    }
    :root::part(header) {
      background: red;
    }
    practice-question::part(header) {
    }
  </style>
</head>
<body>
  <div id="demo"></div>

  <script type="module">
    import { html, render } from 'lit-html';
    import '../practice-question.js';

    const updateState = (e) => {
      const state = e.target.value ?? 'ready';
      const practiceQuestion = document.querySelector("practice-question");
      practiceQuestion.__state = state;
    }

    const practiceQuestionChanged = (e) => {
      console.log('Practice Question Changed', e.detail.target)
    }

    render(
      html`
      <div @practice-question-changed=${practiceQuestionChanged}>
        <label for="state">Choose a state:</label>
        <select name="state" id="state" @change=${(e) => updateState(e)}>
          <option value="ready">Ready</option>
          <option value="submitting">Submitting</option>
          <option value="successful_submission">Successful Submission</option>
          <option value="error_submitting">Error Submitting</option>
          <option value="service_unavailable">Service Unavailable</option>
        </select>
        <practice-question endpoint="http://localhost:8080/v1/graphql"></practice-question>
      </div>
      `,
      document.querySelector('#demo')
    )
  </script>
</body>
</html>
